<!DOCTYPE html>
<div class="container">

<fieldset style="border-color: rgb(0, 109, 217)">

<legend style="color:rgb(0, 109, 217);font-size:25px">MASHUP - Samarjot Singh</legend>
<br>

<html>
  <head>
    <title>MASHUP - Samarjot</title>
  </head>
  <body>
    <form method="post">
      
      <label for="singer">Singer Name:</label>
      <input type="text" placeholder="Singer" id="singer" name="singer">
      <br><br>
      
      <label for="song_count">Number of Songs:</label>
      <input type="number" placeholder="Song count" id="song_count" name="song_count">
      <br><br>
      
      <label for="duration">Duration per Song:</label>
      <input type="number" placeholder="Duration (in secs)" id="duration" name="duration">
      <br><br>
      
      <label for="output">Output File Name:</label>
      <input type="text" placeholder="Output" id="output" name="output">
      <br><br><br>
      
      <input type="submit" value="Create Mashup" style="color:rgb(0, 109, 217);font-size:15px">
    
    </form>
  </body>
</html>